<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=WINJITLAPTOP99\SQL2014;Initial Catalog=Inward;Integrated Security=True;Pooling=False" />
  </connectionStrings>
  <appSettings>
    <add key="UserName" value="admin"/>
    <add key="Password" value="ark"/>
    <add key="FinicialYearMonth1" value="Apr"/>
    <add key="FinicialYearMonth2" value="Mar"/>
    <add key="Evaluation" value="0"/>
    
  </appSettings>

</configuration>