<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=WINJITLAPTOP99\SQL2014;Initial Catalog=Inward;Integrated Security=True;Pooling=False" />
    <add name="InwardDetails.Properties.Settings.Inward_dbConnectionString"
      connectionString="Data Source=WINJITLAPTOP99\SQL2014;Initial Catalog=Inward;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="UserName" value="admin"/>
    <add key="Password" value="ark"/>
  </appSettings>

</configuration>